<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li style="text-align: left">
        <a>
        <i class="fa fa-user" aria-hidden="true"></i>
        <span style="text-transform: capitalize;color:#ffffff;text-align: center;font-size: 1.5em;">{{this.name}}</span>
        </a>
      </li>
      
      <li routerLinkActive="active">
        <a routerLink="/dashboard/home" 
          ><i class="fa fa-home" aria-hidden="true"></i>
            <span>Home</span>
            </a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard/devicelists"
          ><i class="fa fa-tablet" aria-hidden="true"></i>
            <span>Device List</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard/users"
          ><i class="fa fa-users" aria-hidden="true"></i>
            <span>User List</span></a
        >
      </li>
      <li routerLinkActive="active" *ngIf="this.flag">
        <a routerLink="{{this.url_}}"
          >
          <i class="fa fa-line-chart" aria-hidden="true"></i>
            <span>Live Analysis</span></a
        >
      </li>
      <li routerLinkActive="active" *ngIf="this.flag">
        <a  routerLink="{{this.url}}"
          ><i class="fa fa-line-chart" aria-hidden="true"></i>
            <span>Historical Analysis</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a (click)="logMeOut()"
          ><i class="fa fa-sign-out" aria-hidden="true"></i>
            <span>Log-Out</span></a
        >
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<router-outlet></router-outlet>
