<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/images/cp.jpg" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>CP Variyani</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form method="get" class="sidebar-form">
      <div class="input-group">
        <input
          type="text"
          name="q"
          class="form-control"
          placeholder="Search..."
        />
        <span class="input-group-btn">
          <button
            type="submit"
            name="search"
            id="search-btn"
            class="btn btn-flat"
          >
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a (click)="redirectToHome()"
          ><i class="fa fa-book"></i> <span>Home</span></a
        >
      </li>
      <li>
        <a (click)="redirectToDevicelist()"
          ><i class="fa fa-book"></i> <span>Device List</span></a
        >
      </li>
            <li>
        <a routerLink="/dashboard/users"
          ><i class="fa fa-book"></i> <span>User List</span></a
        >
      </li>
      <li class="active treeview menu-open">
        <a>
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a (click)="reditectToGraph()"
              ><i class="fa fa-circle-o"> </i>Live Analysis
            </a>
          </li>
          <li>
            <a (click)="reditectToGraph8()"
              ><i class="fa fa-circle-o"></i>Historical Analysis </a
            >
          </li>
        </ul>
      </li>

      <li>
        <a (click)="logMeOut()"
          ><i class="fa fa-th"></i> <span>Log-Out</span></a
        >
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<router-outlet></router-outlet>
