<div class="login-container">
    <div class="row div-login-form">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 ml-auto">
            <div class="alert alert-danger" *ngIf="this.cred_flag">
                Email or Password is Invalid
            </div>
            <form [formGroup]="login" (ngSubmit)="onSubmit()"  >
                <div class="form-group" >
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"  formControlName="email" (keyup)="this.cred_flag=false">
                   <div class="alert alert-danger"  *ngIf="this.login.controls.email.touched &&  this.login.controls.email.errors != this.null">
                     Enter a Valid Email
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <div class="input-group" style="display: flex;">
                            <input [type]="this.type" class="form-control" id="exampleInputPassword1" placeholder="Password"  formControlName="password" (keyup)="this.cred_flag=false">
                        <span style="height: 33px; width: 30px; border:1px solid grey;text-align: center; padding-top: 2px;border-radius: .1em;">
                        <i class="fa fa-eye-slash" *ngIf="this.type=='password'" aria-hidden="true" (click)="show()" style="cursor: pointer;"></i>
                        <i class="fa fa-eye" *ngIf="this.type=='text'" aria-hidden="true" (click)="show()" style="cursor: pointer;"></i></span>
                    </div>
                    <div class="alert alert-danger"  *ngIf="this.login.controls.password.touched &&  this.login.controls.password.errors != this.null">
                         Minimum 8 Characters
                    </div>
                </div>
                <button   class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>