
  <section style="" >
    <div
      class="item"
      style="text-align: center;  padding-top: 0.1cm;"
    >
      <div class="btn-group btn-group-filter">
        <button (click)="graphical()" class="btn btn-primary" style="margin-right: .5em;">
          Graphical View</button
        >&nbsp;&nbsp;
        <button (click)="list()" class="btn btn-primary" style="margin-right: .5em;">
          List View
        </button>&nbsp;&nbsp;
        <button routerLink="{{'/dashboard/historical/'+this.id}}" class="btn btn-primary" style="margin-right: .5em;">
          Historical Analysis
        </button>
      </div>
    </div>
  </section>
  <section [hidden]="graphicalview != true" style="" >
    <div class="content" style="padding: 0;">
      <div class="col-md-3 col-sm-6 col-xs-12" style="" >
        <div class="info-box" style="height: 8em; width: 20em;margin: .2em;">
          <div style="text-align: center;">
            <span class="info-box-text" style="text-align:center;"
              >Wind Meter</span
            >
            <div style="height: 7em; width: 15em;position: relative;margin-left: 1.5em;">
              <canvas id="myChart" width="10" height="4" style="text-align: center;"></canvas
              >
            <div  *ngIf="this.data.length>0" class="txt" style="width: 3.8em; position: absolute; top:30%;left: 35%; font-size: 16px; color: #3366cc; font-weight: bold; text-align: center;">{{this.data[0].wind_speed}}</div>
            </div>
          </div>
        </div>
        <div class="info-box" style="height: 8em; width: 20em; margin: .2em;">
          <span class="info-box-text" style="text-align: center;"
            >Vapour Pressure</span
          >
          <div style="text-align: center;">
            <div style="height: 7em; width: 15em;position: relative;margin-left: 1.5em;">
            <canvas
              id = "vapourpressure"
              width="10" height="4"
              style="width: 10px; height: 10px;"
            ></canvas
            >
            <div class="txt" *ngIf="this.data.length>0" style="width: 3.8em; position: absolute; top:30%;left: 35%; font-size: 16px; color: #3366cc; font-weight: bold; text-align: center;">{{this.data[0].vapour_pressure}}</div>
          </div>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" style="height: 8em; width: 20em;margin: .2em;">
          <span class="info-box-text" style="text-align: center;"
            >Wind Direction</span
          >
          <div>
            <div style="height: 7em; width: 15em;position: relative;margin-left: 1.5em;">
            <canvas width="10" height="4" id="winddirection"></canvas
            >
            <div *ngIf="this.data.length>0" class="txt" style="width: 3.8em; position: absolute; top:30%;left: 35%; font-size: 16px; color: #3366cc; font-weight: bold; text-align: center;">{{this.data[0].wind_direction}}</div>
          </div>
          </div>
        </div>
        <div class="info-box" style="height: 8em; width: 20em;margin: .2em;;">
          <span class="info-box-text" style="text-align: center;"
            >Air Pressure</span
          >
          <div style="text-align: center;">
            <div style="height: 7em; width: 15em;position: relative;margin-left: 1.5em;">
            <canvas
              id = "airpressure"
              width="10" height="4"
              style="width: 10px; height: 10px;"
            ></canvas
            >
            <div *ngIf="this.data.length>0" class="txt" style="width: 3.8em; position: absolute; top:30%;left: 35%; font-size: 16px; color: #3366cc; font-weight: bold; text-align: center;">{{this.data[0].atm_pressure}}</div>
          </div>
          </div>

          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" style="height: 8em; width: 20em;margin: .2em;">
          <span class="info-box-text" style="text-align: center;"
            >Air Temperature</span
          >
          <div style="text-align: center;">
            <div style="height: 7em; width: 15em;position: relative;margin-left: 1.5em;">
            <canvas
              width="10" height="4"
              style="width: 10px; height: 10px;"
              id="airtemperature"
            ></canvas
            >
            <div *ngIf="this.data.length>0" class="txt" style="width: 3.8em; position: absolute; top:30%;left: 35%; font-size: 16px; color: #3366cc; font-weight: bold; text-align: center;">{{this.data[0].air_temperature}}</div>
          </div>
          </div>
          <!-- /.info-box-content -->
        </div>
        <div class="info-box" style="height: 8em; width: 20em; margin: .2em;">
          <span class="info-box-text" style="text-align: center;"
            >Relative Humidity</span
          >
          <div>
            <div style="height: 7em; width: 15em;position: relative;margin-left: 1.5em;">
            <canvas id = "relativehumidity" width="10" height="4"></canvas
            >
            <div *ngIf="this.data.length>0" class="txt" style="width: 3.8em; position: absolute; top:30%;left: 35%; font-size: 16px; color: #3366cc; font-weight: bold; text-align: center; ">{{this.data[0].relative_humidity}}</div>
          </div>

          </div>

          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="box-body">
            <a class="btn btn-block btn-social btn-dropbox" style="height:2.5em;" >
              <i class="fa fa-fw fa-sun-o"></i><span *ngIf="this.data.length>0"> Solar - {{this.data[0].solar}}</span>
            </a>
            <a class="btn btn-block btn-social btn-dropbox" style="height:2.5em;" >
              <i class="fa fa-fw fa-soundcloud"></i><span *ngIf="this.data.length>0"> Rainfall - {{this.data[0].rainfall}}</span>
            </a>
            <a class="btn btn-block btn-social btn-dropbox" style="height:2.5em;" >
              <i class="fa fa-fw fa-soundcloud"></i><span *ngIf="this.data.length>0"> Tb Rainfall - {{this.data[0].tb_rainfall}}</span>
            </a>
            <a class="btn btn-block btn-social btn-dropbox" style="height:2.5em;" >
              <i class="fa fa-fw fa-creative-commons"></i><span *ngIf="this.data.length>0"> Tb Count - {{this.data[0].tb_count}}</span>
            </a>
            <a class="btn btn-block btn-social btn-dropbox" style="height:2.5em;" >
              <i class="fa fa-fw fa-creative-commons"></i><span *ngIf="this.data.length>0"> TZ - {{this.data[0].tz}}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row" style="margin-right: .5em;">
        <div class="col-md-6" style="margin-top:.3em; padding: 0;padding: .1em;">
          <div class="box box-info" >
            <div class="box-body" >
              <span style="float: right;"
                ><img
                  [src]="this.img+'assets/images/expandchart.png'"
                  style="width: 12px; height: 12px;"
                  class="fs-btn"
                  data-toggle="modal"
                  data-target="#modal-view-1"
              /></span>
              <div class="chart">
                <canvas
                  id="areaChart"
                  height="21"
                  width="100"
                ></canvas>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box box-info" style="margin-top:.3em;">
              <div class="box-body">
                <span style="float: right;"
                  ><img
                    [src]="this.img+'assets/images/expandchart.png'"
                    style="width: 12px; height: 12px;"
                    class="fs-btn"
                    data-toggle="modal"
                    data-target="#modal-view-2"
                /></span>
                <div class="chart">
                  <canvas
                    id="areaChart8"
                    height="21"
                    width="100"
                  ></canvas>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="margin-top:.3em;padding:0;padding:.1em;">
            <div class="box box-info">
              <div class="box-body" >
                <span style="float: right;"
                  ><img
                    [src]="this.img+'assets/images/expandchart.png'"
                    style="width: 12px; height: 12px;"
                    class="fs-btn"
                    data-toggle="modal"
                    data-target="#modal-view-3"
                /></span>
                <div class="chart">
                  <canvas
                    id="areaChart2"
                    height="21"
                    width="100"
                  ></canvas>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box box-info">
                <div class="box-body">
                  <span style="float: right;"
                    ><img
                      [src]="this.img+'assets/images/expandchart.png'"
                      style="width: 12px; height: 12px;"
                      class="fs-btn"
                      data-toggle="modal"
                      data-target="#modal-view-4"
                  /></span>
                  <div class="chart">
                    <canvas
                      id="areaChart16"
                      height="21"
                      width="100"
                    ></canvas>
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div
    class="modal fade"
    id="modal-view-1"

  >
    <div
      class="modal-dialog modal-lg"
    >
      <div class="modal-content">
        <div
          class="modal-body"
          style="height: 80vh; width: 70vw; background-color: white;"
        >
          <canvas
            id="areaChart110"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="modal-view-2"
  >
    <div
      class="modal-dialog modal-lg"
    >
      <div class="modal-content">
        <div
          class="modal-body"
          style="height: 80vh; width: 70vw; background-color: white;"
        >
          <canvas
            id="areaChart112"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="modal-view-3"
  >
    <div
      class="modal-dialog modal-lg"
    >
      <div class="modal-content">
        <div
          class="modal-body"
          style="height: 80vh; width: 70vw; background-color: white;"
        >
          <canvas
            id="areaChart118"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="modal-view-4"
  >
    <div
      class="modal-dialog modal-lg"
    >
      <div class="modal-content">
        <div
          class="modal-body"
          style="height: 80vh; width: 70vw; background-color: white;"
        >
          <canvas
            id="areaChart1116"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
  <section *ngIf="listview">
    <div>
      <br />
      <div class="col-xs-12" >
        <div class="box">
          <div class="box-body">
            <div
              id="example1_wrapper"
              class="dataTables_wrapper form-inline dt-bootstrap"
            >
              <div class="row" style="height: 70vh; overflow-y: scroll;">
                <div class="col-sm-12">
                  <table
                    id="example1"
                    class="table table-bordered table-striped dataTable"
                  >
                    <thead>
                      <tr role="row" style="font-size: 13px;">
                        <th
                        >
                          Timestamp
                        </th>
                        <th
                        >
                          Tz
                        </th>
                        <th
                        >
                          Solar(w/m2)
                        </th>
                        <th
                        >
                          Rainfall(mm)
                        </th>
                        <th
                        >
                          Wind Speed(m/s)
                        </th>
                        <th
                        >
                          Wind Dirn(Deg)
                        </th>
                        <th>
                          Air Temp(Deg)
                        </th>
                        <th>
                          Vapour Pitems(kpa)
                        </th>
                        <th>
                          Atm Pitems(kpa)
                        </th>
                        <th>
                          Rel Humid(%)
                        </th>
                        <th>
                          Tb Count
                        </th>
                        <th>
                          Tb Rainfall(mm)
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of this.table">
                        <td>{{ item.timing | date:"medium" }}</td>
                        <td>{{ item.tz }}</td>
                        <td>{{ item.solar }}</td>
                        <td>{{ item.rainfall }}</td>
                        <td>{{ item.wind_speed }}</td>
                        <td>{{ item.wind_direction }}</td>
                        <td>{{ item.air_temperature }}</td>
                        <td>{{ item.vapour_pressure }}</td>
                        <td>{{ item.atm_pressure }}</td>
                        <td>{{ item.relative_humidity }}</td>
                        <td>{{ item.tb_count }}</td>
                        <td>{{ item.tb_rainfall }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
  </section>


